.bussines {
  padding: 20px;
  .socialMedia {
    img {
      width: 30px;
      margin: 0 20px 20px 0;
      cursor: pointer;
    }
  }
}
.nav {
  top: 0;
  width: 100%;
  padding-top: 20px;
  text-align: center;

  .eslogan {
    font-size: 16px;
  }
  .senefa {
    width: 100%;
  }
}
